.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:url('/banner1.jpg') 50% 10%;
    background-size: 800px;
    color: #333;
    height: 60px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header a {
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 25px;
  }
  
  .header a:hover {
    color: rgb(187, 39, 39);
  }
  .header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .logo {
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  @media (max-width: 450px) {
    .header {
      flex-direction: column;
      height: auto;
    }
  
    .header ul {
      margin: 20px 0;
      flex-direction: column;
      text-align: center;
    }
  
    .header a {
      margin-right: 0;
      font-size: 30px;
    }
  
    .logo {
      margin: 20px 0;
    }
  }
  